<div class="d-flex justify-content-around align-items-center footer  border-top border-dark">
    <i class="fa-solid fa-plus"></i>
    <%= link_to  projects_path do%>
       <i class="fa-solid fa-house-user"></i>
    <% end %>
    <i class="fa-solid fa-heart"></i>
    <i class="fa-brands fa-github-alt"></i>
</div>
              
          
    

