  <!-- Top navigation / page header -->
<div class="topnav">
  <%= link_to request.referer.present? ? request.referer : root_path do %>
    <i class="goback fa-regular fa-circle-left"></i>
  <% end %>



  <%= @text %>
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-bars"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <%# If using Devise: %>
      <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
    </ul>
  </div> <!-- Your hamburger icon here -->
</div>

