<!DOCTYPE html>
<html>
<head>
  <title>Page</title>
</head>

<body>

  <div class="topnav">
    <i class="fa-solid fa-angle-left"></i>
    <%= @text %>
    <i class="fa-solid fa-cat"></i>
  </div>

</body>
</html>
