<div class="topnav">
  <%= link_to request.referer.present? ? request.referer : root_path do %>
    <i class="goback fa-regular fa-circle-left"></i>
  <% end %>

  <div class="center-text"><%= @text %></div>

  <div class="spacer"></div>
</div>
