


<div class="modal fade" id="startModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Congratulations!!!🎉</h1>
      </div>
      <div class="modal-body">
        <p>You have started you project! Now let's get to knit 🧶</p>
      </div>
      <div class="modal-footer">
        <%# <button type="button" class="button w-100" data-bs-dismiss="modal">Close</button> %>
        <%= button_to project_start_path(@project),
      method: :patch,
      class: "button w-100",
      form: { class: "w-100", data: { turbo: "true" } } do %>
  Close
<% end %>
      </div>
    </div>
  </div>
</div>
