


<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Congratulations!!!🎉</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>You checked off a task! Do you want to add a comment and an image?</p>
        <div class="form-modal">
        <%= simple_form_for (:task) do |f|%>
        <%= f.input :comment, placeholder: "Type your comment here..." %>
        <%= f.input :images, as: :file, input_html: { multiple: true } %>
      </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="button" data-bs-dismiss="modal">Close</button>
        <div><%= f.button :submit, "Update project", class: "button" %></div>
        <%end%>
      </div>
    </div>
  </div>
</div>
