// Define variables for your color scheme

// For example:
$black: black;
$red: #BF124D;
$blue: #295F98;
$yellow: #F6EFBD;
$orange: #E67E22;
$light-gray: #CBCBCB;
$green: #5D866C;
$gray: #44444E;
$pink: #A7727D;
$darker-beige: #EDDBC7;
$light-beige: #F8EAD8;
$beige: #F9F5E7;
