.see-all {
  font-size: 14px;
  color: $gray;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding-right: 8%;
}

.see-all:hover {
  text-decoration: underline;
}

.project-status {
  padding-bottom: 6%;
  padding-top: 5%;
  padding-left: 6%;
}
// 2-column grid
.projects-grid {
  padding-left: 4%;
  padding-right: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.project-card {
  background: $white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.06);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 98%;
  height: 300px;
}

.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 15px rgba(0,0,0,0.12);
}

.project-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.card-body {
  padding: 14px 16px 20px;
  position: relative;
}

.card-body h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  color: $black;
}

.difficulty {
  font-size: 14px;
  margin: 6px 0 10px;
}

.progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  color: $black;
  padding: 0;
}


.project-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.project-card {
  cursor: pointer;
}
