.form-control {
  border-radius: 10px;
}

.form-select {
  border-radius: 10px;
}

.form-label {
  font-size: 11px;
}

.form-control::placeholder {
  color: #999;
  font-size: 13px;
}

#project_pattern {
  background-image: url(image_placeholder.jpg);
  background-position: center center; /* ← centers it */
  background-repeat: no-repeat;
  background-size: cover;
  height: 145px;
  width: 145px;
}

#project_images {
  background-image: url(image_placeholder.jpg);
  background-position: center center; /* ← centers it */
  background-repeat: no-repeat;
  background-size: cover;
  height: 145px;
  width: 145px;
}

.col-form-label {
  font-size: 11px;
}

.form-check-label {
  font-size: 11px;
}

.btn.button {
  display: inline-block;
  padding: 8px 16px; // (top/bottom 8px, left/right 16px)
  background-color: #a7727d;
  border-radius: 16px; // round corners
  color: white; //  text
  text-decoration: none; // no underline
  width: auto;
  height: 40px;
  justify-content: center;

  a {
    color: white;
  }

  &:hover {
    background-color: #eddbc7;
    color: $pink;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  }
}

.yarns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;

  .col-form-label {
    display: none;
  }
}
#image-modal {
  font-size: 12px;
}

// "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Fimage&psig=AOvVaw0KhJTtOvwFjw4XqZS5nqy9&ust=1764759250539000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPjY9NLenpEDFQAAAAAdAAAAABAE";
