@import "components/buttons";


// Images
img {
  width: 100%;
  height: 300px;
  border-radius: 16px;
  position: sticky;
}

// Layout containers
.container {
  margin: 5% 0 5% 0;
  padding: 3%;
}

.project-container {
  padding: 0 6%;
}

.project-title {
  font-size: 18px;
  font-weight: 600;
}

.project-difficulty {
  font-size: 12px;
}

// Description
.project-description .description {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.project-description p {
  font-size: 12px;
  margin-bottom: 2px;
}

// Label (Designer, Category etc)
.project-description .label {
  font-weight: 600;
  color: rgb(78, 78, 78);
}

// Global text styles
p {
  color: gray;
}

p strong {
  color: rgb(78, 78, 78);
}
