@import "components/buttons";

// Images
img {
  width: 100%;
  height: 300px;
  border-radius: 16px;
  position: sticky;
}

// Layout containers
.container {
  margin: 5% 0 5% 0;
  padding: 3%;
}

.project-container {
  padding: 0 6%;
}

.project-title {
  font-size: 18px;
  font-weight: 550;
}

.project-difficulty {
  font-size: 12px;
}

// Description
.project-description .description {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.project-description p {
  font-size: 12px;
  margin-bottom: 1px;
}

// Label (Designer, Category etc)
.project-description .label {
  font-weight: 550;
  color: rgb(78, 78, 78);
}

.project-description li {
  font-size: 12px;
}

// p {
//   color: gray;
// }

p strong {
  color: rgb(78, 78, 78);
}

.pattern-icon i {
  color: rgb(78, 78, 78);
  font-size: 20px;
}


.ask-yarni {
 
      margin-bottom: 15px;
      padding: 15px 15px;
      border-radius: 35px 35px 35px 35px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      width: 100%; /* Adjust this value to make it wider */
}
