<div class="chatbot-page">
  <h1>
  <strong>Hey, it is me Yarni!</strong><br>
  <strong> Your AI knit Assistant </strong> </h1>

  <p>
    I am here to support you in improving your knitting skills, answering your questions, providing inspiration, troubleshooting issues, and offering helpful advice on your next steps. Let's create something wonderful together! ✨
  </p>
  <img src="<%=asset_url("Knitly chatbot cat.png")%>" alt="Knitting Cat">

  <%= link_to 'Talk to Yarni', chats_path, class: 'button floating', data: { turbo_method: :post } %>
</div>
