
  <h2 class="project-status">Ongoing Projects</h2>
  <div class="projects-grid">
    <div class="project-card">
      <img src="url(<%= url_for("sweater.webp")%>)">
      <div class="card-body">
        <h3>Jumper</h3>
        <p class="difficulty">Difficult</p>
        <span class="progress">40%</span>
      </div>
    </div>

    <div class="project-card">
      <img src="example.jpg">
      <div class="card-body">
        <h3>Cosy Socks</h3>
        <p class="difficulty">Easy</p>
        <span class="progress">20%</span>
      </div>
    </div>


    <div class="project-card">
      <img src="example.jpg">
      <div class="card-body">
        <h3>Sweater</h3>
        <p class="difficulty">Difficult</p>
        <span class="progress">40%</span>
      </div>
    </div>

    <div class="project-card">
      <img src="example.jpg">
      <div class="card-body">
        <h3>Cosy Beannie</h3>
        <p class="difficulty">Easy</p>
        <span class="progress">20%</span>
      </div>
    </div>
 </div>
