<h1>Hello from the frontend</h1>
<%# <%= cloudinary_url @project.pattern.key, height: 300, width: 400, crop: :fill %>

<%=  link_to "pattern", url_for(@project.pattern) if @project.pattern.attached?  %>


<% @project.images.each do |img| %>
  <%= cl_image_tag (img.key) if @project.images.attached? %>
<% end %>


<%# <%= cl_image_tag(@project.images.key) if @project.images.attached? %>
