development:
  adapter: async

test:
  adapter: test

production:
  adapter: solid_cable

  # adapter: re
  # url: <%= ENV.fetch("REDIS_URL") { "redis://localhost:6379/1" } %>
  # channel_prefix: stitchly_production
