
.card button:hover {
  background-color: light ;
}
.devise-form-card {
  background-color: white;
  position: relative;
  bottom: 0;
  width:100%;
}
.login-card {
  max-width: 400px;
  margin: 0 auto;
}
.input-field {
  border-radius: 6px;
  padding: 10px;
}