.signup-form {
  max-width: 400px;
  margin: 0 auto;
}
.form button:hover {
  background-color: #F8EAD8;
}
.input-field {
  border-radius: 6px;
  padding: 10px;
}
.signup-form {
  background-color: white;
  position: relative;
  bottom: 0;
  width:100%;
}