.fa-trash-can {
  color: $pink; /* You can adjust the color */
}

.fa-pen-to-square {
  color: $pink; /* You can adjust the color */
}

.fa-cloud-arrow-up {
  color: $pink; /* You can adjust the color */
}

//  color: #a7727d;

//  rgb(212, 162, 100)
