.fa-trash-can {
  color: rgb(212, 162, 100); /* You can adjust the color */
}

.fa-pen-to-square {
  color: rgb(212, 162, 100); /* You can adjust the color */
}

.fa-cloud-arrow-up {
  color: rgb(212, 162, 100); /* You can adjust the color */
}
