.modal-content {
  border-radius: 25px;
  text-align: center;
  margin-top: 320px;
}

.modal-title {
  margin-left: 90px;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

.button {
  border: none;
}

.form-modal {
  text-align: start;
}
