.topnav {
  position: sticky;
  top: 0;
  z-index: 1000;
  // without the z-index, the content below will be shown in the topnav

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
  background-color: $darker-beige;
  color: $black;
  font-size: 14px;
}

.topnav i {
  cursor: pointer;
}
.dropdown-menu {

  border-radius: 8px;

  padding: 0.5rem 0;
  background-color: $darker-beige;
}
.dropdown-menu:hover {

  background-color: $pink;
}
.dropdown-item {

  padding: 0.6rem 1rem;
}

.dropdown-item:hover {

  background-color: $pink;
  color: $white;
}


.goback {
  color: black;
  font-size: 16px;
  font-weight: 200;
}

.spacer {
  width: 16px;
}