.topnav {
  position: sticky;
  top: 0;
  z-index: 1000;
  // without the z-index, the content below will be shown

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  background-color: $darker-beige;
  color: $black;
  font-size: 24px;
}

.topnav i {
  cursor: pointer;
}
