.form_button {
  width: 25px;
  height: 25px;
  // border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  right: 95%;
  bottom: 65%;
  background-color: $light-beige;
}

.form_button:hover {
  background-color: $light-beige; // SAME color
}

.progress_bar {
  width: 100%;
  // border-top: 1px solid;
  // border-bottom: 1px solid;
  background-color: $beige;

  // border-right: 1px solid;
  height: 10px;
}
.checked {
  background-color: $pink;
}
