#spinner {
  width: 48px;
  height: 48px;
  border: 3px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  position: sticky;
  left: 45vw;
  top: 40vh;
}

.d-none {
  display: none !important;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
